.rootVR {
    margin-top: 100px;
    margin-left: 80px;
    width: 20%;
}

.btnFieldContainerVR {
    margin: 10px;
}

.buttonLogVR {
    left:25%;
    width: 50%;
    top: -10px;
}

.logbannerVR {
    position: relative;
    color: #3f51b5;
    outline: none;
    border: none;
    width: 100%;
    z-index: 1;
    font-size: 22;
    text-align: center;
}

.responseMsgFieldVR {
    width: 100%;
}