  html, body {margin: 0; height: 100%; overflow: hidden}

.animated {
    margin-top: 70px;
    position: absolute;
    right: 10px;
    height: 170px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    outline: none;
    border: 6px solid #3f51b5;
    z-index: 9;
  }

.animated::-moz-focus-inner 
{
  border: 0;
}

.link-style{
  text-decoration: none;
  color: white;
}

.link-style-menu{
  text-decoration: none;
  color:  #3f51b5;
}

.menu-bar{
  margin-top: 30px;
}

@media only screen and (max-width: 1700px) {
  .button-panel {
    display: none;
  }
}

@media only screen and (min-width: 1699px) {
  .AppBar {
    display: none;
  }
}

.button-signIn, .button-signUp {
  display: block;
  max-width: 12vw;
}
.button-signIn {
  right: 10px;
}

.button-log, .button-forg {
  top: -10px;
  height: 35px;
  width: 120px;
  text-align: center;
  background-color: #3f51b5;
}

.link-recover{
  text-decoration: none;
}

.button-log {
  left: 30px;
}

.button-forg {
  left: 10px;
}

.field-recover {
  top: 5px;
  width: 200px;
  height: 10px;
  left: 10px;
}

.field-log {
  top: 5px;
  width: 150px;
  height: 10px;
  left: 10px;
}

.field-pass {
  top: 5px;
  width: 150px;
  height: 10px;
}

.log-banner {
  margin-top: 5px;
  text-align: center;
  height: 10px;
  color:  #3f51b5;
  font-size: 22px;
  outline: none;
  border: none;
}

.errorMsg{
  padding: 0px;
  text-align: center;
  margin-top: 5px;
  margin: 0px;
  color: red;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
}
