.animated {
    margin-top: 70px;
    position: absolute;
    right: 10px;
    height: 170px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    outline: none;
    border: 6px solid #3f51b5;
  }

.animated::-moz-focus-inner 
{
  border: 0;
}

.button-log {
  top: -10px;
  left: 30px;
  height: 35px;
  width: 120px;
  text-align: center;
  background-color: #3f51b5;
}
.button-forg {
  left: 10px;
  top: -10px;
  height: 35px;
  width: 120px;
  text-align: center;
  background-color: #3f51b5;
}

.button-signIn {
  right: 10px;
}

.field-log {
  top: 5px;
  width: 160px;
  height: 10px;
  left: 10px;
}

.field-pass {
  top: 5px;
  width: 150px;
  height: 10px;
}

.log-banner {
  margin-top: 5px;
  text-align: center;
  height: 10px;
  color:  #3f51b5;
  font-size: 22px;
  outline: none;
  border: none;
}

.errorMsg{
  padding: 0px;
  text-align: center;
  margin-top: 5px;
  margin: 0px;
  color: red;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
}
