$myColor:  #3f51b5;
$btnWidth: 100px;

.animated::-moz-focus-inner 
{
  border: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.buttonReport {
  width: 100px;
  left: 5px;
}

.buttonsPanel {
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: -20px;
}
.buttonsPanel > button {
  background-color: $myColor;
  color: white;
}

.buttonsPanel > button:hover {
  background-color: $myColor;
}

.mainWareHouse {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  height: 80%;
  padding: 15px;
}

.menuItem {
  margin-top: 45px;
}

.materialTable {
  height: 10%;
  width: 95%;
  margin: 20px;
}

.pagination {
  position: absolute;
  right: 0;
}

.infoTable{
  margin-top: 15px;
  margin-left: 20px;
  width: 90%;
}
