.animated {
    margin-top: 70px;
    position: absolute;
    right: 10px;
    height: 170px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 20px;
    outline: none;
    border: 6px solid #3f51b5;
    z-index: 9;
  }

.animated::-moz-focus-inner 
{
  border: 0;
}

.link-style{
  text-decoration: none;
  color: white;
}

.linkStyleMenu{
  text-decoration: none;
  color:  #3f51b5;
}

.menu-bar{
  margin-top: 30px;
}

@media only screen and (max-width: 1700px) {
  .buttonPanel {
    display: none;
  }
}

@media only screen and (min-width: 1699px) {
  .AppBar {
    display: none;
  }
}

.buttonSignIn, .buttonSignUp, .ModalBox {
  display: block;
  max-width: 12vw;
}
.buttonSignIn {
  right: 10px;
}

.buttonLogIn, .button-forg {
  top: -25px;
  height: 35px;
  width: 120px;
  text-align: center;
  background-color: #3f51b5;
}

.buttonLogIn {
  left: 30px;
}

.button-forg {
  left: 10px;
}

.linkRecover{
  text-decoration: none;
}

.field-recover {
  top: 5px;
  width: 200px;
  min-height: 10px;
  left: 10px;
}

.fieldLog {
  top: 5px;
  width: 150px;
  min-height: 10px;
  left: 10px;
}

.fieldPass {
  top: 5px;
  width: 150px;
  min-height: 10px;
}

.logBanner {
  margin-top: 5px;
  text-align: center;
  height: 10px;
  color:  #3f51b5;
  font-size: 22px;
  outline: none;
  border: none;
}

.errorMsg{
  text-align: center;
  width: 100%;
  color: red;
  font-size: 16px;
  position: relative;
  top: -10px;
}