.rootRF {
    margin-top: 100px;
    margin-left: 80px;
    height: 250px;
    width: 50%;
}

.NextRF {
    display: grid;
    margin-top: 20px;
    color: red;
}

.errorRF {
    color: red;
}

.mainRF {
    text-decoration: none;
    color: white;
}

.MessageRF {
    color: #3f51b5;
}