.root-RP {
    margin-top: 100px;
    margin-left: 80px;
    width: 20%;
}

.logBanner {
    position: relative;
    margin-top: 5px;
    height: 10px;
    color: #3f51b5;
    font-size: 2.2vh;
    outline: none;
    border: none;
    width: 100%;
    text-align: center;
}

.errorMessage, .responseMessage {
    margin: 0;
    width: 100%;
    font-size: 22;
    text-align: center;
}

.errorMessage {
    color: red;
}

.responseMessage {
    top: -20px;
    color: #3f51b5;
}

.buttonLog {
    position: relative;
    width: 50%;
    height: 90%;
    left: 25%;
    text-align: 2.2vh;
    margin: 10px;
}

.LogBlock {
    width: 100%;
    margin: 10px;
}

.field_log {
    position: relative;
    width: 100%;
    left: 25%;
}

.buttonHome {
    position: relative;
    left: 33%;
    margin: 10px;
}

.fieldResponse {
    margin-top: 10px;
    margin-bottom: 10px;
    top: -10px;
    width: 100%;
}

.fieldRecover {
    width: 80%;
    left: 10%;
}